[dc-1-dp-ui]
{{ target_dp_host }}

[dc-1-dp-db]
{{ target_dp_host }}

[dc-1-dp:children]
dc-1-dp-ui
dc-1-dp-db

[planet:children]
dc-1-dp

[dp:children]
dp-db
dp-ui

[dp-ui:children]
dc-1-dp-ui

[dp-db:children]
dc-1-dp-db

[dc-1:children]
dp
ms

[ms:children]
dc-1-ms

[dc-1-ms:children]
{{ target_ms_host }}
